*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* header */
header{
    background-image: url(/EssentialFundamentals/Practical/Project1/media/header.jpg);
    display: flex;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    align-items:end;
    justify-content: left;
}
header h1{
    color: black;
    padding-bottom: 30px;
    padding-left: 30px;
    
}
.columns{
    column-count: 3;
    column-width: 33%;
    margin-top: 20px;
    display: flex;
    margin-left: 10px;
    width:100%;
}
div{
    width: 100%;
}
div img{
    height: 50vh;
}
footer{
    padding-top: 30px;
}

/*tablet*/
@media only screen and (min-width: 767px){
    header h1{
        font-size: 40px;
    }
}

/*desktop*/
@media only screen and (min-width: 991px){
    header h1{
        font-size: 50px;
    }
}
