*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    
}
h1{
    font-size: 3em;
}
nav{
    width: 100%;
    height: 13vh;
    display: flex;
    position: sticky;
    background-color: #333126;
}
nav ul{
    width: 100%;
    list-style: none;
    align-items: center;
    flex-direction: column;
    display: none;/*display none made visible with media query*/
}
nav ul li{
    border-bottom: 3px solid #F89F0F;
    font-size: 1.5em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*positioning for hamburger icon*/
.hamburger{
    position: absolute;
    right: 50px;
    color:#F89F0F;
    font-size: 3em;
    cursor: pointer;
    padding-top: 20px;
}
.dignans-logo{
    padding-top: 20px;
    border: none;
}
/*code linked to javascript for click of hamburger*/
.active{
    position: fixed;
    height: 93vh;
    display: flex;
    top: 13vh;
    width: 100%;
    background-color: #333126;
}
a{
    text-decoration: none;
    color: #F89F0F;
}
#mobile-nav a {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
nav a:hover, .current{
    background-color: #f89f0f;
    color: #333126;
}
nav a:active-item{
    background-color: #f89f0f;
    color: #333126;
}
.nav-container{
    width: 100%;
    display: flex;
}

@media only screen and (min-width: 991px){
   
    nav ul{
        display: contents;
        display: flex;
        flex-direction: row;
    }
    nav ul li{
       border: none;
       text-align: center;
       width: 18%
    }
    .hamburger{
        display: none;
    }
    
}

/* desktop */
@media only screen and (min-width: 1080px){
    .active{
        position: fixed;
        height: unset;
    }
    nav  ul li{
        width: 18%;
    }
    h1{
        font-size: 3em;
    }
}

/*Start of header section*/

.header{
    background-image: url(../media/main3.jpg);
    display: flex;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    align-items:flex-end;
}
h1{
    color:#F89F0F;
    padding: 10px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/*Start of footer section*/
.footer-container{
    background-color: #333126;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.footer-logo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 2%;
    margin-top: 2%;
}
.contact-details{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.social-media-icons{
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 3em;
    padding-bottom: 2%;
}
footer ul li{
    list-style: none;
    padding-bottom: 2%;
}
.copyright-bottom{
    width: 100%;
    background-color: #F89F0F;
    height: 100px;
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}


