*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

img{
    width: 100%;
}
main{
   display: flex;
   flex-wrap: wrap;
   
   font-family:Arial, Helvetica, sans-serif;
}
.product{
    flex: 1 1 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    box-shadow: 0 0 0 5px #faf7f7;
    border-radius: 2px;
   
}
.sticker{
    position: absolute;
    top: -1.7rem;
    /* left: 0; */
    width: 5rem;
    height: 5rem;
    background-color: #cb1818;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    border: white 5px solid;
}
.product_desc{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}
h3{
    padding: 1rem;
}
.price{
    padding-bottom: 1rem;
    color: #cb1818;
    font-weight: bold;
}
.box{
    width: 100%;
    height: 50px;
    background-color: #cb1818;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.box:hover {
    background-color: black;
    
}
.product:hover .box{
    display: flex;
    
    
}